.addTeamContainer {
  background-color:  lightgrey;
  padding: 20px 40px;
  padding-bottom: 80px;
}

.set {
  padding-left: 15px;
  display: inline;
  font-size: 25px;
}

.names {
  display: inline;
  font-weight: bold;
  font-size: 25px;
}

.points {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
}

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
  background: #DFD5BE;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

.panel-heading h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
  margin:0;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.example {
  margin: 20px;
}

main {
  margin-top: 40px;
  padding: 30px;
}

body {
  padding: 0px;
}

nav .container {
  width: auto;
}
/*
body::after{
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  content: "";
  background: url('http://fc09.deviantart.net/fs70/i/2010/231/a/2/Beach_sand_1_by_eddieretelj.jpg');
}
*/

h4 {
  margin-top: 25px;
}

.row {
  margin-bottom: 20px;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  border: 1px solid #ddd;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

td{
  vertical-align: middle !important;
}
.panel-default {
  -webkit-box-shadow: 0px 0px 9px #888;
  box-shadow: 0px 0px 9px #888;
}

table {
  border: 1px solid #ddd;
  margin-bottom:0!important;
}
@media (max-width: 600px) {

  table,
  table .names,
  table .set{
    font-size: 16px
  }
}
